{
  "tabWidth": 4,
  "useTabs": false,
  "overrides": [
    {
      "files": [
        "slides.md",
        "pages/*.md"
      ],
      "options": {
        "parser": "slidev",
        "plugins": [
          "prettier-plugin-slidev"
        ]
      }
    }
  ]
}