name: Deploy pages

on:
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  pages: write
  id-token: write


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Setup @antfu/ni
        run: npm i -g @antfu/ni

      - name: Install dependencies
        run: nci

        
      - name: Build Template
        run: nr --name=template build_pres 

      - name: Build Kafka
        run: nr --name=kafka build_pres 

      - name: Build Github Actions
        run: nr --name=github_actions build_pres 

      - name: Build MongoDB Change Stream
        run: nr --name=mongodb_change_stream build_pres

      - name: Build Firestore Security Rules
        run: nr --name=firestore_rules build_pres

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - uses: actions/upload-pages-artifact@v3
        with:
          path: dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4